{
  "openapi": "3.1.0",
  "info": {
    "title": "Osintly Tools API",
    "version": "1.0.0",
    "description": "OpenAPI specification for Osintly Epic Games, Vehicle History Finder, Xbox, PlayStation Network, Roblox, Steam, Social Club, and Reddit tools and catalog endpoints.",
    "contact": {
      "name": "Osintly",
      "url": "https://docs.osint.ly/tools-reference/introduction"
    }
  },
  "servers": [
    {
      "url": "https://api.osint.ly",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tools Catalog",
      "description": "Discover available tools, metadata, and route costs."
    },
    {
      "name": "Epic Games",
      "description": "Direct Epic Games account validation and enrichment endpoints."
    },
    {
      "name": "Vehicle History Finder",
      "description": "Vehicle history enrichment endpoints for US VINs and French license plates."
    },
    {
      "name": "Xbox",
      "description": "Direct Xbox Live account validation and enrichment endpoints."
    },
    {
      "name": "PlayStation Network",
      "description": "Direct PlayStation Network account validation and enrichment endpoints."
    },
    {
      "name": "Roblox",
      "description": "Direct Roblox account validation and enrichment endpoints."
    },
    {
      "name": "Steam",
      "description": "Direct Steam account validation and enrichment endpoints."
    },
    {
      "name": "Social Club",
      "description": "Direct Rockstar Social Club account validation and enrichment endpoints."
    },
    {
      "name": "Reddit",
      "description": "Reddit profile and public archived activity validation and enrichment endpoints."
    }
  ],
  "paths": {
    "/tools": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "List tools",
        "description": "List tools available to the authenticated account.",
        "operationId": "listTools",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "All",
              "maxLength": 80
            }
          },
          {
            "name": "featuredOnly",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string",
                  "enum": [
                    "true",
                    "false",
                    "1",
                    "0"
                  ]
                }
              ],
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 250
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120,
              "default": ""
            }
          },
          {
            "name": "searchType",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "All"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "popular",
                "usage-desc",
                "usage-asc",
                "recent",
                "name-asc",
                "name-desc",
                "rating"
              ],
              "default": "popular"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "preview",
                "full"
              ],
              "default": "full"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tools catalog response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "data": [
                    {
                      "name": "Epic Games",
                      "description": "Validate and enrich Epic account identifiers, linked accounts, tags, regions, creator data, friends, and achievements.",
                      "image": "/images/tools/epic-games.svg",
                      "routePath": "/epic-games",
                      "categories": [
                        "Gaming",
                        "Accounts",
                        "Social"
                      ],
                      "featured": false
                    },
                    {
                      "name": "Vehicle History Finder",
                      "description": "Vehicle history enrichment endpoints for US VINs and French license plates.",
                      "image": "/images/tools/vehicle-history-finder.svg",
                      "routePath": "/vehicle-history-finder",
                      "categories": [
                        "Automotive",
                        "History",
                        "VIN"
                      ],
                      "featured": false
                    },
                    {
                      "name": "Xbox",
                      "description": "Validate and enrich Xbox Live account intelligence, including profiles, presence, social metadata, games, media, clubs, and title achievements.",
                      "image": "/images/tools/xbox.svg",
                      "routePath": "/xbox",
                      "categories": [
                        "Gaming",
                        "Accounts",
                        "Social"
                      ],
                      "featured": false
                    },
                    {
                      "name": "PlayStation Network",
                      "description": "Validate and enrich PlayStation Network account intelligence, including profiles, presence, trophies, and games.",
                      "image": "/images/tools/playstation.svg",
                      "routePath": "/playstation",
                      "categories": [
                        "Gaming",
                        "Accounts",
                        "Social"
                      ],
                      "featured": false
                    },
                    {
                      "name": "Roblox",
                      "description": "Validate and enrich Roblox account intelligence, including profiles, social counts, friends, groups, games, badges, and collectibles.",
                      "image": "/images/tools/roblox.svg",
                      "routePath": "/roblox",
                      "categories": [
                        "Gaming",
                        "Accounts",
                        "Social"
                      ],
                      "featured": false
                    }
                  ],
                  "meta": {
                    "page": 1,
                    "limit": 250,
                    "total": 5,
                    "timestamp": "2026-06-28T12:00:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          }
        }
      }
    },
    "/tools/{tool}/infos": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "Get tool info",
        "description": "Read public metadata for one tool.",
        "operationId": "getToolInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/ToolPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                },
                "example": {
                  "name": "Epic Games",
                  "description": "Direct Epic Games account validation and enrichment endpoints.",
                  "image": "/images/tools/epic-games.svg",
                  "routePath": "/epic-games"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tools/{tool}/costs": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "Get tool route costs",
        "description": "Read per-route pricing for one tool.",
        "operationId": "getToolCosts",
        "parameters": [
          {
            "$ref": "#/components/parameters/ToolPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool route cost payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "routes": {
                    "GET /": {
                      "type": "free",
                      "credits": 0
                    },
                    "GET /infos": {
                      "type": "free",
                      "credits": 0
                    },
                    "POST /search": {
                      "type": "free",
                      "credits": 0
                    },
                    "POST /suggestions": {
                      "type": "free",
                      "credits": 0
                    },
                    "POST /resolve": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /linked-accounts": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /tags": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /regions": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /friends-achievements": {
                      "type": "core-search",
                      "credits": 2
                    },
                    "POST /creator": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /profile-db": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /all": {
                      "type": "core-search",
                      "credits": 3
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          }
        }
      }
    },
    "/tools/results/{id}": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "Get a saved tool result",
        "description": "Retrieve a payload saved from a synchronous `/tools/<tool>/all` request with `save: true`.",
        "operationId": "getSavedToolResult",
        "parameters": [
          {
            "$ref": "#/components/parameters/SavedToolResultId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SavedToolResultResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tools/epic-games": {
      "get": {
        "tags": [
          "Epic Games"
        ],
        "summary": "List Epic Games routes",
        "operationId": "listEpicGamesRoutes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ToolRouteIndex"
          }
        }
      }
    },
    "/tools/epic-games/search": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Validate Epic Games search input",
        "operationId": "runEpicGamesSearch",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/epic-games/suggestions": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games suggestions",
        "operationId": "runEpicGamesSuggestions",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/epic-games/resolve": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Resolve Epic Games account",
        "operationId": "runEpicGamesResolve",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/linked-accounts": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games linked accounts",
        "operationId": "runEpicGamesLinkedAccounts",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/tags": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games account tags",
        "operationId": "runEpicGamesTags",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/regions": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games region signals",
        "operationId": "runEpicGamesRegions",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/friends-achievements": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games friends and achievements",
        "operationId": "runEpicGamesFriendsAchievements",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/creator": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games creator and public profile data",
        "operationId": "runEpicGamesCreator",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EpicGamesCreatorResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/profile-db": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games profile database data",
        "operationId": "runEpicGamesProfileDb",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/all": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Run all Epic Games collectors",
        "operationId": "runEpicGamesAll",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/xbox": {
      "get": {
        "tags": [
          "Xbox"
        ],
        "summary": "List Xbox routes",
        "operationId": "listXboxRoutes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ToolRouteIndex"
          }
        }
      }
    },
    "/tools/xbox/search": {
      "post": {
        "tags": [
          "Xbox"
        ],
        "summary": "Validate Xbox search input",
        "operationId": "runXboxSearch",
        "requestBody": {
          "$ref": "#/components/requestBodies/XboxRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/xbox/suggestions": {
      "post": {
        "tags": [
          "Xbox"
        ],
        "summary": "Get Xbox suggestions",
        "operationId": "runXboxSuggestions",
        "requestBody": {
          "$ref": "#/components/requestBodies/XboxRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/xbox/resolve": {
      "post": {
        "tags": [
          "Xbox"
        ],
        "summary": "Resolve Xbox account",
        "operationId": "runXboxResolve",
        "requestBody": {
          "$ref": "#/components/requestBodies/XboxRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/xbox/profile": {
      "post": {
        "tags": [
          "Xbox"
        ],
        "summary": "Get Xbox profile",
        "operationId": "runXboxProfile",
        "requestBody": {
          "$ref": "#/components/requestBodies/XboxRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/xbox/presence": {
      "post": {
        "tags": [
          "Xbox"
        ],
        "summary": "Get Xbox presence",
        "operationId": "runXboxPresence",
        "requestBody": {
          "$ref": "#/components/requestBodies/XboxRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/xbox/social": {
      "post": {
        "tags": [
          "Xbox"
        ],
        "summary": "Get Xbox social data",
        "operationId": "runXboxSocial",
        "requestBody": {
          "$ref": "#/components/requestBodies/XboxRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/xbox/linked-accounts": {
      "post": {
        "tags": [
          "Xbox"
        ],
        "summary": "Get Xbox linked accounts",
        "operationId": "runXboxLinkedAccounts",
        "requestBody": {
          "$ref": "#/components/requestBodies/XboxRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/xbox/games": {
      "post": {
        "tags": [
          "Xbox"
        ],
        "summary": "Get Xbox games",
        "operationId": "runXboxGames",
        "requestBody": {
          "$ref": "#/components/requestBodies/XboxRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/xbox/media": {
      "post": {
        "tags": [
          "Xbox"
        ],
        "summary": "Get Xbox media",
        "operationId": "runXboxMedia",
        "requestBody": {
          "$ref": "#/components/requestBodies/XboxRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/xbox/clubs": {
      "post": {
        "tags": [
          "Xbox"
        ],
        "summary": "Get Xbox clubs",
        "operationId": "runXboxClubs",
        "requestBody": {
          "$ref": "#/components/requestBodies/XboxRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/xbox/title-detail": {
      "post": {
        "tags": [
          "Xbox"
        ],
        "summary": "Get Xbox title detail and achievements",
        "operationId": "runXboxTitleDetail",
        "requestBody": {
          "$ref": "#/components/requestBodies/XboxTitleDetailRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/xbox/all": {
      "post": {
        "tags": [
          "Xbox"
        ],
        "summary": "Run all Xbox collectors",
        "operationId": "runXboxAll",
        "requestBody": {
          "$ref": "#/components/requestBodies/XboxRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/playstation": {
      "get": {
        "tags": [
          "PlayStation Network"
        ],
        "summary": "List PlayStation Network routes",
        "operationId": "listPlayStationRoutes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ToolRouteIndex"
          }
        }
      }
    },
    "/tools/playstation/search": {
      "post": {
        "tags": [
          "PlayStation Network"
        ],
        "summary": "Validate PlayStation Network search input",
        "operationId": "runPlayStationSearch",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlayStationRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/playstation/suggestions": {
      "post": {
        "tags": [
          "PlayStation Network"
        ],
        "summary": "Get PlayStation Network suggestions",
        "operationId": "runPlayStationSuggestions",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlayStationRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/playstation/resolve": {
      "post": {
        "tags": [
          "PlayStation Network"
        ],
        "summary": "Resolve PlayStation Network account",
        "operationId": "runPlayStationResolve",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlayStationRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/playstation/profile": {
      "post": {
        "tags": [
          "PlayStation Network"
        ],
        "summary": "Get PlayStation Network profile",
        "operationId": "runPlayStationProfile",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlayStationRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/playstation/presence": {
      "post": {
        "tags": [
          "PlayStation Network"
        ],
        "summary": "Get PlayStation Network presence",
        "operationId": "runPlayStationPresence",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlayStationRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/playstation/trophy-summary": {
      "post": {
        "tags": [
          "PlayStation Network"
        ],
        "summary": "Get PlayStation Network trophy summary",
        "operationId": "runPlayStationTrophySummary",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlayStationRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/playstation/games": {
      "post": {
        "tags": [
          "PlayStation Network"
        ],
        "summary": "Get PlayStation Network games",
        "operationId": "runPlayStationGames",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlayStationRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/playstation/all": {
      "post": {
        "tags": [
          "PlayStation Network"
        ],
        "summary": "Run all PlayStation Network collectors",
        "operationId": "runPlayStationAll",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlayStationRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/roblox": {
      "get": {
        "tags": [
          "Roblox"
        ],
        "summary": "List Roblox routes",
        "operationId": "listRobloxRoutes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ToolRouteIndex"
          }
        }
      }
    },
    "/tools/roblox/search": {
      "post": {
        "tags": [
          "Roblox"
        ],
        "summary": "Validate Roblox search input",
        "operationId": "runRobloxSearch",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/roblox/resolve": {
      "post": {
        "tags": [
          "Roblox"
        ],
        "summary": "Resolve Roblox account",
        "operationId": "runRobloxResolve",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/roblox/profile": {
      "post": {
        "tags": [
          "Roblox"
        ],
        "summary": "Get Roblox profile",
        "operationId": "runRobloxProfile",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/roblox/social": {
      "post": {
        "tags": [
          "Roblox"
        ],
        "summary": "Get Roblox social counts",
        "operationId": "runRobloxSocial",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/roblox/friends": {
      "post": {
        "tags": [
          "Roblox"
        ],
        "summary": "Get Roblox friends sample",
        "operationId": "runRobloxFriends",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/roblox/groups": {
      "post": {
        "tags": [
          "Roblox"
        ],
        "summary": "Get Roblox groups",
        "operationId": "runRobloxGroups",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/roblox/games": {
      "post": {
        "tags": [
          "Roblox"
        ],
        "summary": "Get Roblox games",
        "operationId": "runRobloxGames",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/roblox/badges": {
      "post": {
        "tags": [
          "Roblox"
        ],
        "summary": "Get Roblox badges",
        "operationId": "runRobloxBadges",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/roblox/collectibles": {
      "post": {
        "tags": [
          "Roblox"
        ],
        "summary": "Get Roblox collectibles",
        "operationId": "runRobloxCollectibles",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/roblox/all": {
      "post": {
        "tags": [
          "Roblox"
        ],
        "summary": "Run all Roblox collectors",
        "operationId": "runRobloxAll",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/vehicle-history-finder": {
      "get": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "List Vehicle History Finder routes",
        "operationId": "listVehicleHistoryFinderRoutes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ToolRouteIndex"
          }
        }
      }
    },
    "/tools/vehicle-history-finder/search": {
      "post": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "Validate Vehicle History Finder input",
        "operationId": "runVehicleHistoryFinderSearch",
        "requestBody": {
          "$ref": "#/components/requestBodies/VehicleHistoryFinderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VehicleHistoryFinderResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/vehicle-history-finder/vin": {
      "post": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "Run Vehicle History Finder VIN collector",
        "operationId": "runVehicleHistoryFinderVin",
        "requestBody": {
          "$ref": "#/components/requestBodies/VehicleHistoryFinderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VehicleHistoryFinderResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/vehicle-history-finder/plate-fr": {
      "post": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "Run Vehicle History Finder French plate collector",
        "operationId": "runVehicleHistoryFinderPlateFr",
        "requestBody": {
          "$ref": "#/components/requestBodies/VehicleHistoryFinderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VehicleHistoryFinderResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/vehicle-history-finder/all": {
      "post": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "Run Vehicle History Finder collector by input type",
        "operationId": "runVehicleHistoryFinderAll",
        "requestBody": {
          "$ref": "#/components/requestBodies/VehicleHistoryFinderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VehicleHistoryFinderResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam": {
      "get": {
        "tags": [
          "Steam"
        ],
        "summary": "List Steam routes",
        "operationId": "listSteamRoutes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ToolRouteIndex"
          }
        }
      }
    },
    "/tools/steam/search": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Validate Steam search input",
        "operationId": "runSteamSearch",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/steam/suggestions": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get Steam suggestions",
        "operationId": "runSteamSuggestions",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/steam/resolve": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Resolve a Steam account",
        "operationId": "runSteamResolve",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/profile": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get Steam profile and aliases",
        "operationId": "runSteamProfile",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/bans": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get Steam ban signals",
        "operationId": "runSteamBans",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/games": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get Steam games and playtime",
        "operationId": "runSteamGames",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/game-detail": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get Steam game details, achievements, and player statistics",
        "operationId": "runSteamGameDetail",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamGameDetailRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/friends": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get Steam friends",
        "operationId": "runSteamFriends",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/badges": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get Steam badges and XP",
        "operationId": "runSteamBadges",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/groups": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get Steam groups",
        "operationId": "runSteamGroups",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/group-detail": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get Steam group details and paginated members",
        "operationId": "runSteamGroupDetail",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamGroupDetailRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/content": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get Steam public content and wishlist",
        "operationId": "runSteamContent",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/stats": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get Steam game statistics",
        "operationId": "runSteamStats",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/inventory": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get Steam public inventory",
        "operationId": "runSteamInventory",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamInventoryRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/inventory-detail": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Get complete Steam inventory item details and market price",
        "operationId": "runSteamInventoryDetail",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamInventoryDetailRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/steam/all": {
      "post": {
        "tags": [
          "Steam"
        ],
        "summary": "Run all Steam collectors",
        "operationId": "runSteamAll",
        "requestBody": {
          "$ref": "#/components/requestBodies/SteamRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/socialclub": {
      "get": {
        "tags": [
          "Social Club"
        ],
        "summary": "List Social Club routes",
        "operationId": "listSocialClubRoutes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ToolRouteIndex"
          }
        }
      }
    },
    "/tools/socialclub/search": {
      "post": {
        "tags": [
          "Social Club"
        ],
        "summary": "Validate Social Club search input",
        "operationId": "runSocialClubSearch",
        "requestBody": {
          "$ref": "#/components/requestBodies/SocialClubRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/socialclub/suggestions": {
      "post": {
        "tags": [
          "Social Club"
        ],
        "summary": "Get Social Club nickname suggestions",
        "operationId": "runSocialClubSuggestions",
        "requestBody": {
          "$ref": "#/components/requestBodies/SocialClubRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/socialclub/resolve": {
      "post": {
        "tags": [
          "Social Club"
        ],
        "summary": "Resolve a Social Club account",
        "operationId": "runSocialClubResolve",
        "requestBody": {
          "$ref": "#/components/requestBodies/SocialClubRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/socialclub/profile": {
      "post": {
        "tags": [
          "Social Club"
        ],
        "summary": "Get a Social Club profile",
        "operationId": "runSocialClubProfile",
        "requestBody": {
          "$ref": "#/components/requestBodies/SocialClubRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/socialclub/linked-accounts": {
      "post": {
        "tags": [
          "Social Club"
        ],
        "summary": "Get linked Social Club accounts",
        "operationId": "runSocialClubLinkedAccounts",
        "requestBody": {
          "$ref": "#/components/requestBodies/SocialClubRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/socialclub/crews": {
      "post": {
        "tags": [
          "Social Club"
        ],
        "summary": "Get Social Club crews",
        "operationId": "runSocialClubCrews",
        "requestBody": {
          "$ref": "#/components/requestBodies/SocialClubRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/socialclub/crew-detail": {
      "post": {
        "tags": [
          "Social Club"
        ],
        "summary": "Get linked Social Club crew detail",
        "operationId": "runSocialClubCrewDetail",
        "requestBody": {
          "$ref": "#/components/requestBodies/SocialClubCrewDetailRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/socialclub/games": {
      "post": {
        "tags": [
          "Social Club"
        ],
        "summary": "Get Social Club game history",
        "operationId": "runSocialClubGames",
        "requestBody": {
          "$ref": "#/components/requestBodies/SocialClubRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/socialclub/game-detail": {
      "post": {
        "tags": [
          "Social Club"
        ],
        "summary": "Get linked Social Club game detail",
        "operationId": "runSocialClubGameDetail",
        "requestBody": {
          "$ref": "#/components/requestBodies/SocialClubGameDetailRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/socialclub/achievements": {
      "post": {
        "tags": [
          "Social Club"
        ],
        "summary": "Get awarded Social Club achievements for a linked game",
        "description": "Returns awarded achievement identifiers and unlock dates exposed by Rockstar. Full catalog metadata, icons, and point totals are not available from this provider endpoint.",
        "operationId": "runSocialClubAchievements",
        "requestBody": {
          "$ref": "#/components/requestBodies/SocialClubGameDetailRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/socialclub/friends": {
      "post": {
        "tags": [
          "Social Club"
        ],
        "summary": "Get public Social Club friend profiles",
        "operationId": "runSocialClubFriends",
        "requestBody": {
          "$ref": "#/components/requestBodies/SocialClubRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/socialclub/all": {
      "post": {
        "tags": [
          "Social Club"
        ],
        "summary": "Run all Social Club collectors",
        "operationId": "runSocialClubAll",
        "requestBody": {
          "$ref": "#/components/requestBodies/SocialClubRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/reddit": {
      "get": {
        "tags": ["Reddit"],
        "summary": "List Reddit routes",
        "operationId": "getRedditIndex",
        "responses": {
          "200": { "$ref": "#/components/responses/ToolRouteIndex" }
        }
      }
    },
    "/tools/reddit/search": {
      "post": {
        "tags": ["Reddit"],
        "summary": "Validate and normalize a Reddit username",
        "description": "Validation-only operation. It does not call a provider or consume credits.",
        "operationId": "runRedditSearch",
        "requestBody": { "$ref": "#/components/requestBodies/RedditRequest" },
        "responses": {
          "200": { "$ref": "#/components/responses/GamingToolResponse" },
          "400": { "$ref": "#/components/responses/ValidationError" }
        }
      }
    },
    "/tools/reddit/resolve": {
      "post": {
        "tags": ["Reddit"],
        "summary": "Resolve Reddit profile availability and identity",
        "operationId": "runRedditResolve",
        "requestBody": { "$ref": "#/components/requestBodies/RedditRequest" },
        "responses": {
          "200": { "$ref": "#/components/responses/GamingToolResponse" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "502": { "$ref": "#/components/responses/ProviderError" },
          "504": { "$ref": "#/components/responses/ProviderTimeout" }
        }
      }
    },
    "/tools/reddit/profile": {
      "post": {
        "tags": ["Reddit"],
        "summary": "Get Reddit profile and archive metadata",
        "operationId": "runRedditProfile",
        "requestBody": { "$ref": "#/components/requestBodies/RedditRequest" },
        "responses": {
          "200": { "$ref": "#/components/responses/GamingToolResponse" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "502": { "$ref": "#/components/responses/ProviderError" },
          "504": { "$ref": "#/components/responses/ProviderTimeout" }
        }
      }
    },
    "/tools/reddit/posts": {
      "post": {
        "tags": ["Reddit"],
        "summary": "Get filtered and paginated archived Reddit posts",
        "operationId": "runRedditPosts",
        "requestBody": { "$ref": "#/components/requestBodies/RedditRequest" },
        "responses": {
          "200": { "$ref": "#/components/responses/GamingToolResponse" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "502": { "$ref": "#/components/responses/ProviderError" },
          "504": { "$ref": "#/components/responses/ProviderTimeout" }
        }
      }
    },
    "/tools/reddit/comments": {
      "post": {
        "tags": ["Reddit"],
        "summary": "Get filtered and paginated archived Reddit comments",
        "operationId": "runRedditComments",
        "requestBody": { "$ref": "#/components/requestBodies/RedditRequest" },
        "responses": {
          "200": { "$ref": "#/components/responses/GamingToolResponse" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "502": { "$ref": "#/components/responses/ProviderError" },
          "504": { "$ref": "#/components/responses/ProviderTimeout" }
        }
      }
    },
    "/tools/reddit/communities": {
      "post": {
        "tags": ["Reddit"],
        "summary": "Get Reddit community interactions and archived flairs",
        "operationId": "runRedditCommunities",
        "requestBody": { "$ref": "#/components/requestBodies/RedditRequest" },
        "responses": {
          "200": { "$ref": "#/components/responses/GamingToolResponse" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "502": { "$ref": "#/components/responses/ProviderError" },
          "504": { "$ref": "#/components/responses/ProviderTimeout" }
        }
      }
    },
    "/tools/reddit/activity": {
      "post": {
        "tags": ["Reddit"],
        "summary": "Get deterministic Reddit activity summaries",
        "operationId": "runRedditActivity",
        "requestBody": { "$ref": "#/components/requestBodies/RedditRequest" },
        "responses": {
          "200": { "$ref": "#/components/responses/GamingToolResponse" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "502": { "$ref": "#/components/responses/ProviderError" },
          "504": { "$ref": "#/components/responses/ProviderTimeout" }
        }
      }
    },
    "/tools/reddit/thread": {
      "post": {
        "tags": ["Reddit"],
        "summary": "Get an archived Reddit comment thread",
        "description": "The post must belong to the queried Reddit username.",
        "operationId": "runRedditThread",
        "requestBody": { "$ref": "#/components/requestBodies/RedditThreadRequest" },
        "responses": {
          "200": { "$ref": "#/components/responses/GamingToolResponse" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "502": { "$ref": "#/components/responses/ProviderError" },
          "504": { "$ref": "#/components/responses/ProviderTimeout" }
        }
      }
    },
    "/tools/reddit/lookup": {
      "post": {
        "tags": ["Reddit"],
        "summary": "Start a saved Reddit lookup with browsing included",
        "description": "Costs 1 core_search unit. Collects only the profile, always saves it (even if save:false), and returns data.profile and meta.savedResult.id. No polling. Subsequent /browse calls with that ID are free. Default page size is 25. Reuse the saved ID rather than calling lookup again on refresh.",
        "operationId": "runRedditLookup",
        "requestBody": {
          "required": true,
          "content": { "application/json": {
            "schema": { "$ref": "#/components/schemas/RedditLookupRequest" },
            "example": { "value": "spez", "type": "username" }
          } }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/GamingToolResponse" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "403": { "description": "API authentication or tools plan feature required" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "description": "Insufficient quota" },
          "502": { "$ref": "#/components/responses/ProviderError" },
          "503": { "description": "Result could not be saved or quota could not be checked" },
          "504": { "$ref": "#/components/responses/ProviderTimeout" }
        }
      }
    },
    "/tools/reddit/browse": {
      "post": {
        "tags": ["Reddit"],
        "summary": "Browse an owned saved Reddit result without additional search charges",
        "description": "Free for saved lookup/all results. Verifies creator and API-key ownership before reading cache or calling providers. Account is derived from the saved result. Does not mutate the saved snapshot. Defaults inherit the saved query; options starts a new view. Reuse nextCursor without options for pagination. A cursor is not authorization. Archived coverage and throughput depend on providers.",
        "operationId": "browseRedditResult",
        "requestBody": {
          "required": true,
          "content": { "application/json": {
            "schema": { "$ref": "#/components/schemas/RedditBrowseRequest" },
            "example": { "resultId": "1349352c-4306-4d7f-a712-8622d5793515", "section": "posts" }
          } }
        },
        "responses": {
          "200": { "description": "Section data; posts/comments include pagination.nextCursor (null at end).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RedditBrowseResponse" } } }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "403": { "description": "API authentication or tools plan feature required" },
          "404": { "description": "Saved result unavailable, deleted, belongs to another owner/key, or is not Reddit" },
          "409": { "description": "RESULT_BROWSING_NOT_INCLUDED: use a saved lookup/all result, or complete a saved profile through feed" },
          "502": { "$ref": "#/components/responses/ProviderError" },
          "504": { "$ref": "#/components/responses/ProviderTimeout" }
        }
      }
    },
    "/tools/reddit/feed": {
      "post": {
        "tags": ["Reddit"],
        "summary": "Collect feed or complete a saved profile",
        "description": "Costs 2 core_search units. With resultId, verifies ownership and matching username, then upgrades the saved profile to all under the same ID. Without resultId, returns feed-only data without persistence. Prefer browse for an already completed result.",
        "operationId": "runRedditFeed",
        "requestBody": { "$ref": "#/components/requestBodies/RedditRequest" },
        "responses": {
          "200": { "$ref": "#/components/responses/GamingToolResponse" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "description": "Insufficient quota" },
          "502": { "$ref": "#/components/responses/ProviderError" },
          "503": { "description": "Result could not be saved" },
          "504": { "$ref": "#/components/responses/ProviderTimeout" }
        }
      }
    },
    "/tools/reddit/all": {
      "post": {
        "tags": ["Reddit"],
        "summary": "Run all Reddit collectors",
        "description": "Costs 3 core_search units. Returns the first page only, with up to 100 posts and 100 comments. With save:true, the saved ID includes free /browse pagination and enrichment.",
        "operationId": "runRedditAll",
        "requestBody": { "$ref": "#/components/requestBodies/RedditRequest" },
        "responses": {
          "200": { "$ref": "#/components/responses/GamingToolResponse" },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "502": { "$ref": "#/components/responses/ProviderError" },
          "504": { "$ref": "#/components/responses/ProviderTimeout" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    },
    "parameters": {
      "ToolPath": {
        "name": "tool",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "epic-games",
            "vehicle-history-finder",
            "xbox",
            "playstation",
            "roblox",
            "steam",
            "socialclub",
            "reddit"
          ]
        }
      },
      "SavedToolResultId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "requestBodies": {
      "GamingToolRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GamingToolRequest"
            },
            "example": {
              "value": "some-player",
              "type": "username"
            }
          }
        }
      },
      "EpicGamesRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EpicGamesRequest"
            },
            "example": {
              "value": "some-player",
              "type": "epic_display_name"
            }
          }
        }
      },
      "XboxRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/XboxRequest"
            },
            "example": {
              "value": "SomeGamertag",
              "type": "gamertag"
            }
          }
        }
      },
      "XboxTitleDetailRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/XboxTitleDetailRequest"
            },
            "example": {
              "value": "SomeGamertag",
              "type": "gamertag",
              "titleId": "12345"
            }
          }
        }
      },
      "VehicleHistoryFinderRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VehicleHistoryFinderRequest"
            },
            "examples": {
              "plateFr": {
                "summary": "French license plate",
                "value": {
                  "value": "AB-123-CD",
                  "type": "plate_fr"
                }
              },
              "vin": {
                "summary": "US VIN",
                "value": {
                  "value": "1HGCM82633A004352",
                  "type": "vin"
                }
              }
            }
          }
        }
      },
      "PlayStationRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PlayStationRequest"
            },
            "example": {
              "value": "some-player",
              "type": "online_id"
            }
          }
        }
      },
      "SteamRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SteamRequest"
            }
          }
        }
      },
      "SteamGameDetailRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SteamGameDetailRequest"
            },
            "example": {
              "value": "gaben",
              "type": "vanity",
              "appId": 730
            }
          }
        }
      },
      "SteamGroupDetailRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SteamGroupDetailRequest"
            },
            "example": {
              "value": "gaben",
              "type": "vanity",
              "groupId": "103582791429521412",
              "memberPage": 1
            }
          }
        }
      },
      "SteamInventoryRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SteamInventoryRequest"
            }
          }
        }
      },
      "SteamInventoryDetailRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SteamInventoryDetailRequest"
            }
          }
        }
      },
      "SocialClubRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SocialClubRequest"
            },
            "example": {
              "value": "some-player",
              "type": "nickname"
            }
          }
        }
      },
      "SocialClubCrewDetailRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SocialClubCrewDetailRequest"
            },
            "example": {
              "value": "some-player",
              "type": "nickname",
              "crewId": 76479976,
              "memberQuery": "some"
            }
          }
        }
      },
      "SocialClubGameDetailRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SocialClubGameDetailRequest"
            },
            "example": {
              "value": "some-player",
              "type": "nickname",
              "gameId": 11
            }
          }
        }
      },
      "RedditRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RedditRequest"
            },
            "example": {
              "value": "spez",
              "type": "username",
              "limit": 100
            }
          }
        }
      },
      "RedditThreadRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RedditThreadRequest"
            },
            "example": {
              "value": "spez",
              "type": "username",
              "postId": "t3_abc123",
              "limit": 100
            }
          }
        }
      }
    },
    "responses": {
      "ToolRouteIndex": {
        "description": "Tool route index",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": true
            },
            "example": {
              "tool": "epic-games",
              "operation": "index",
              "query": {
                "tool": "epic-games"
              },
              "data": {
                "routes": [
                  {
                    "method": "GET",
                    "path": "/tools/epic-games"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/search"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/suggestions"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/resolve"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/linked-accounts"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/tags"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/regions"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/friends-achievements"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/creator"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/profile-db"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/all"
                  }
                ]
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Invalid request body or parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "VALIDATION_ERROR",
                "message": "Invalid request body",
                "details": [
                  {
                    "path": "value",
                    "message": "Invalid value"
                  }
                ]
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Unauthorized",
                "details": "A valid API key is required"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "PlanFeatureRequired": {
        "description": "The authenticated account does not have a paid API subscription with tools access",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "PLAN_FEATURE_REQUIRED",
                "message": "Plan feature required",
                "details": "Tools require a paid API subscription with the tools feature enabled"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "ProviderUnavailable": {
        "description": "Required enrichment source configuration is missing",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "PROVIDER_UNAVAILABLE",
                "message": "Provider unavailable",
                "details": "A required enrichment source is unavailable for this operation"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "ProviderError": {
        "description": "An upstream Reddit provider request failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "PROVIDER_ERROR",
                "message": "Data unavailable"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "ProviderTimeout": {
        "description": "An upstream Reddit provider request timed out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "PROVIDER_TIMEOUT",
                "message": "Request timed out"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "NOT_FOUND",
                "message": "Not found"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "GamingToolResponse": {
        "description": "Tool response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GamingToolResponse"
            },
            "example": {
              "tool": "epic-games",
              "operation": "search",
              "query": {
                "value": "some-player",
                "type": "epic_display_name"
              },
              "data": {},
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "EpicGamesCreatorResponse": {
        "description": "Epic Games creator response. Creator profile fields are public and nullable when unavailable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EpicGamesCreatorResponse"
            }
          }
        }
      },
      "VehicleHistoryFinderResponse": {
        "description": "Vehicle history finder response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VehicleHistoryFinderResponse"
            },
            "example": {
              "tool": "vehicle-history-finder",
              "operation": "vin",
              "query": {
                "value": "1HGCM82633A004352",
                "type": "vin"
              },
              "data": {
                "vehicle": {
                  "found": true,
                  "presentation": {
                    "title": "Honda Accord 2003",
                    "make": "Honda",
                    "model": "Accord",
                    "year": 2003,
                    "bodyClass": "Sedan",
                    "engine": "2.4L L4"
                  }
                },
                "castrol": {
                  "metadata": null
                },
                "nhtsa": {
                  "recalls": [],
                  "complaints": [],
                  "safetyRatings": []
                }
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "SavedToolResultResponse": {
        "description": "Saved tool result response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SavedToolResult"
            },
            "example": {
              "id": "00000000-0000-0000-0000-000000000000",
              "url": "https://api.osint.ly/tools/results/00000000-0000-0000-0000-000000000000"
            }
          }
        }
      }
    },
    "schemas": {
      "ToolInfo": {
        "type": "object",
        "required": [
          "description",
          "image",
          "name",
          "routePath"
        ],
        "properties": {
          "description": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "routePath": {
            "type": "string"
          }
        },
        "additionalProperties": true,
        "example": {
          "name": "Epic Games",
          "description": "Direct Epic Games account validation and enrichment endpoints.",
          "image": "/images/tools/epic-games.svg",
          "routePath": "/epic-games"
        }
      },
      "ResponseMeta": {
        "type": "object",
        "required": [
          "timestamp"
        ],
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "savedResult": {
            "$ref": "#/components/schemas/SavedToolResult"
          }
        },
        "additionalProperties": true
      },
      "SavedToolResult": {
        "type": "object",
        "required": [
          "id",
          "url"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error",
          "meta"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {}
            },
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        },
        "additionalProperties": false
      },
      "GamingToolResponse": {
        "type": "object",
        "required": [
          "data",
          "meta",
          "operation",
          "query",
          "tool"
        ],
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "operation": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "required": [
              "value",
              "type"
            ],
            "properties": {
              "value": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "normalizedType": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "tool": {
            "type": "string",
            "enum": [
              "epic-games",
              "vehicle-history-finder",
              "xbox",
              "playstation",
              "roblox",
              "steam",
              "socialclub"
            ]
          }
        },
        "additionalProperties": false
      },
      "EpicGamesCreatorResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GamingToolResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/EpicGamesCreatorData"
              },
              "operation": {
                "const": "creator"
              },
              "tool": {
                "const": "epic-games"
              }
            }
          }
        ]
      },
      "EpicGamesCreatorData": {
        "type": "object",
        "required": [
          "accountId",
          "affiliate",
          "islands",
          "profile"
        ],
        "properties": {
          "accountId": {
            "type": "string"
          },
          "affiliate": {
            "type": "object",
            "required": [
              "found"
            ],
            "properties": {
              "found": {
                "type": "boolean"
              }
            },
            "additionalProperties": true
          },
          "islands": {
            "type": "object",
            "additionalProperties": true
          },
          "profile": {
            "$ref": "#/components/schemas/EpicGamesCreatorProfile"
          }
        },
        "additionalProperties": false
      },
      "EpicGamesCreatorProfile": {
        "type": "object",
        "required": [
          "data",
          "error",
          "found",
          "pageProps",
          "publishedIslands",
          "raw",
          "social"
        ],
        "properties": {
          "data": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/EpicGamesCreatorProfileData"
              },
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "type": "null"
          },
          "found": {
            "type": "boolean"
          },
          "pageProps": {
            "type": "null"
          },
          "publishedIslands": {
            "type": "array",
            "items": {}
          },
          "raw": {
            "type": "null"
          },
          "social": {
            "$ref": "#/components/schemas/EpicGamesCreatorSocial"
          }
        },
        "additionalProperties": false
      },
      "EpicGamesCreatorProfileData": {
        "type": "object",
        "required": [
          "bio",
          "creatorPageUrl",
          "displayName",
          "followerCount",
          "images",
          "title"
        ],
        "properties": {
          "bio": {
            "type": [
              "string",
              "null"
            ]
          },
          "creatorPageUrl": {
            "type": "string",
            "format": "uri"
          },
          "displayName": {
            "type": [
              "string",
              "null"
            ]
          },
          "followerCount": {
            "type": [
              "integer",
              "null"
            ]
          },
          "images": {
            "$ref": "#/components/schemas/EpicGamesCreatorImages"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": false
      },
      "EpicGamesCreatorImages": {
        "type": "object",
        "required": [
          "avatar",
          "banner"
        ],
        "properties": {
          "avatar": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "banner": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "EpicGamesCreatorSocial": {
        "type": "object",
        "required": [
          "discord",
          "instagram",
          "tiktok",
          "twitch",
          "twitter",
          "website",
          "youtube"
        ],
        "properties": {
          "discord": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "instagram": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "tiktok": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "twitch": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "twitter": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "website": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "youtube": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "VehicleHistoryFinderResponse": {
        "type": "object",
        "required": [
          "data",
          "meta",
          "operation",
          "query",
          "tool"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "vehicle"
            ],
            "properties": {
              "vehicle": {
                "type": "object",
                "required": [
                  "found",
                  "presentation"
                ],
                "properties": {
                  "found": {
                    "type": "boolean"
                  },
                  "presentation": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              },
              "castrol": {
                "type": "object",
                "additionalProperties": true
              },
              "nhtsa": {
                "type": "object",
                "required": [
                  "recalls",
                  "complaints",
                  "safetyRatings"
                ],
                "properties": {
                  "recalls": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "complaints": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "safetyRatings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "operation": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "required": [
              "value",
              "type"
            ],
            "properties": {
              "value": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "save": {
                "type": "boolean"
              }
            },
            "additionalProperties": true
          },
          "tool": {
            "type": "string",
            "enum": [
              "vehicle-history-finder"
            ]
          }
        },
        "additionalProperties": false
      },
[...]
