{
  "openapi": "3.1.0",
  "info": {
    "title": "Osintly Tools API",
    "version": "1.0.0",
    "description": "OpenAPI specification for Osintly Epic Games and Vehicle History Finder tools and catalog endpoints.",
    "contact": {
      "name": "Osintly",
      "url": "https://docs.osint.ly/tools-reference/introduction"
    }
  },
  "servers": [
    {
      "url": "https://api.osint.ly",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tools Catalog",
      "description": "Discover available tools, metadata, and route costs."
    },
    {
      "name": "Epic Games",
      "description": "Direct Epic Games account validation and enrichment endpoints."
    },
    {
      "name": "Vehicle History Finder",
      "description": "Vehicle history enrichment endpoints for US VINs and French license plates."
    }
  ],
  "paths": {
    "/tools": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "List tools",
        "description": "List tools available to the authenticated account.",
        "operationId": "listTools",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "All",
              "maxLength": 80
            }
          },
          {
            "name": "featuredOnly",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string",
                  "enum": [
                    "true",
                    "false",
                    "1",
                    "0"
                  ]
                }
              ],
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 250
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120,
              "default": ""
            }
          },
          {
            "name": "searchType",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "All"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "popular",
                "usage-desc",
                "usage-asc",
                "recent",
                "name-asc",
                "name-desc",
                "rating"
              ],
              "default": "popular"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "preview",
                "full"
              ],
              "default": "full"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tools catalog response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "data": [
                    {
                      "name": "Epic Games",
                      "description": "Validate and enrich Epic account identifiers, linked accounts, tags, regions, creator data, friends, and achievements.",
                      "image": "/images/tools/epic-games.svg",
                      "routePath": "/epic-games",
                      "categories": [
                        "Gaming",
                        "Accounts",
                        "Social"
                      ],
                      "featured": false
                    },
                    {
                      "name": "Vehicle History Finder",
                      "description": "Vehicle history enrichment endpoints for US VINs and French license plates.",
                      "image": "/images/tools/vehicle-history-finder.svg",
                      "routePath": "/vehicle-history-finder",
                      "categories": [
                        "Automotive",
                        "History",
                        "VIN"
                      ],
                      "featured": false
                    }
                  ],
                  "meta": {
                    "page": 1,
                    "limit": 250,
                    "total": 2,
                    "timestamp": "2026-06-28T12:00:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          }
        }
      }
    },
    "/tools/{tool}/infos": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "Get tool info",
        "description": "Read public metadata for one tool.",
        "operationId": "getToolInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/ToolPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                },
                "example": {
                  "name": "Epic Games",
                  "description": "Direct Epic Games account validation and enrichment endpoints.",
                  "image": "/images/tools/epic-games.svg",
                  "routePath": "/epic-games"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tools/{tool}/costs": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "Get tool route costs",
        "description": "Read per-route pricing for one tool.",
        "operationId": "getToolCosts",
        "parameters": [
          {
            "$ref": "#/components/parameters/ToolPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool route cost payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "routes": {
                    "GET /": {
                      "type": "free",
                      "credits": 0
                    },
                    "GET /infos": {
                      "type": "free",
                      "credits": 0
                    },
                    "POST /search": {
                      "type": "free",
                      "credits": 0
                    },
                    "POST /suggestions": {
                      "type": "free",
                      "credits": 0
                    },
                    "POST /resolve": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /linked-accounts": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /tags": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /regions": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /friends-achievements": {
                      "type": "core-search",
                      "credits": 2
                    },
                    "POST /creator": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /profile-db": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /all": {
                      "type": "core-search",
                      "credits": 3
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          }
        }
      }
    },
    "/tools/results/{id}": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "Get a saved tool result",
        "description": "Retrieve a payload saved from a synchronous `/tools/<tool>/all` request with `save: true`.",
        "operationId": "getSavedToolResult",
        "parameters": [
          {
            "$ref": "#/components/parameters/SavedToolResultId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SavedToolResultResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tools/epic-games": {
      "get": {
        "tags": [
          "Epic Games"
        ],
        "summary": "List Epic Games routes",
        "operationId": "listEpicGamesRoutes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ToolRouteIndex"
          }
        }
      }
    },
    "/tools/epic-games/search": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Validate Epic Games search input",
        "operationId": "runEpicGamesSearch",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VehicleHistoryFinderResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/epic-games/suggestions": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games suggestions",
        "operationId": "runEpicGamesSuggestions",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/epic-games/resolve": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Resolve Epic Games account",
        "operationId": "runEpicGamesResolve",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VehicleHistoryFinderResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/linked-accounts": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games linked accounts",
        "operationId": "runEpicGamesLinkedAccounts",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VehicleHistoryFinderResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/tags": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games account tags",
        "operationId": "runEpicGamesTags",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VehicleHistoryFinderResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/regions": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games region signals",
        "operationId": "runEpicGamesRegions",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/friends-achievements": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games friends and achievements",
        "operationId": "runEpicGamesFriendsAchievements",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/creator": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games creator data",
        "operationId": "runEpicGamesCreator",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/profile-db": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games profile database data",
        "operationId": "runEpicGamesProfileDb",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/all": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Run all Epic Games collectors",
        "operationId": "runEpicGamesAll",
        "requestBody": {
          "$ref": "#/components/requestBodies/EpicGamesRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/vehicle-history-finder": {
      "get": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "List Vehicle History Finder routes",
        "operationId": "listVehicleHistoryFinderRoutes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ToolRouteIndex"
          }
        }
      }
    },
    "/tools/vehicle-history-finder/search": {
      "post": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "Validate Vehicle History Finder input",
        "operationId": "runVehicleHistoryFinderSearch",
        "requestBody": {
          "$ref": "#/components/requestBodies/VehicleHistoryFinderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/vehicle-history-finder/vin": {
      "post": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "Run Vehicle History Finder VIN collector",
        "operationId": "runVehicleHistoryFinderVin",
        "requestBody": {
          "$ref": "#/components/requestBodies/VehicleHistoryFinderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/vehicle-history-finder/plate-fr": {
      "post": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "Run Vehicle History Finder French plate collector",
        "operationId": "runVehicleHistoryFinderPlateFr",
        "requestBody": {
          "$ref": "#/components/requestBodies/VehicleHistoryFinderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/vehicle-history-finder/all": {
      "post": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "Run Vehicle History Finder collector by input type",
        "operationId": "runVehicleHistoryFinderAll",
        "requestBody": {
          "$ref": "#/components/requestBodies/VehicleHistoryFinderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    },
    "parameters": {
      "ToolPath": {
        "name": "tool",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "epic-games",
            "vehicle-history-finder"
          ]
        }
      },
      "SavedToolResultId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "requestBodies": {
      "EpicGamesRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EpicGamesRequest"
            },
            "example": {
              "value": "some-player",
              "type": "epic_display_name"
            }
          }
        }
      },
      "VehicleHistoryFinderRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VehicleHistoryFinderRequest"
            },
            "examples": {
              "plateFr": {
                "summary": "French license plate",
                "value": {
                  "value": "AB-123-CD",
                  "type": "plate_fr"
                }
              },
              "vin": {
                "summary": "US VIN",
                "value": {
                  "value": "1HGCM82633A004352",
                  "type": "vin"
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "ToolRouteIndex": {
        "description": "Tool route index",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": true
            },
            "example": {
              "tool": "epic-games",
              "operation": "index",
              "query": {
                "tool": "epic-games"
              },
              "data": {
                "routes": [
                  {
                    "method": "GET",
                    "path": "/tools/epic-games"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/search"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/suggestions"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/resolve"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/linked-accounts"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/tags"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/regions"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/friends-achievements"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/creator"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/profile-db"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/epic-games/all"
                  }
                ]
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Invalid request body or parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "VALIDATION_ERROR",
                "message": "Invalid request body",
                "details": [
                  {
                    "path": "value",
                    "message": "Invalid value"
                  }
                ]
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Unauthorized",
                "details": "A valid API key is required"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "PlanFeatureRequired": {
        "description": "The authenticated account does not have a paid API subscription with tools access",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "PLAN_FEATURE_REQUIRED",
                "message": "Plan feature required",
                "details": "Tools require a paid API subscription with the tools feature enabled"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "ProviderUnavailable": {
        "description": "Required enrichment source configuration is missing",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "PROVIDER_UNAVAILABLE",
                "message": "Provider unavailable",
                "details": "A required enrichment source is unavailable for this operation"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "NOT_FOUND",
                "message": "Not found"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "GamingToolResponse": {
        "description": "Tool response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GamingToolResponse"
            },
            "example": {
              "tool": "epic-games",
              "operation": "search",
              "query": {
                "value": "some-player",
                "type": "epic_display_name"
              },
              "data": {},
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "VehicleHistoryFinderResponse": {
        "description": "Vehicle history finder response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VehicleHistoryFinderResponse"
            },
            "example": {
              "tool": "vehicle-history-finder",
              "operation": "vin",
              "query": {
                "value": "1HGCM82633A004352",
                "type": "vin"
              },
              "data": {
                "vehicle": {
                  "found": true,
                  "presentation": {
                    "title": "Honda Accord 2003",
                    "make": "Honda",
                    "model": "Accord",
                    "year": 2003,
                    "bodyClass": "Sedan",
                    "engine": "2.4L L4"
                  }
                },
                "castrol": {
                  "metadata": null
                },
                "nhtsa": {
                  "recalls": [],
                  "complaints": [],
                  "safetyRatings": []
                }
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "SavedToolResultResponse": {
        "description": "Saved tool result response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SavedToolResult"
            },
            "example": {
              "id": "00000000-0000-0000-0000-000000000000",
              "url": "https://api.osint.ly/tools/results/00000000-0000-0000-0000-000000000000"
            }
          }
        }
      }
    },
    "schemas": {
      "ToolInfo": {
        "type": "object",
        "required": [
          "description",
          "image",
          "name",
          "routePath"
        ],
        "properties": {
          "description": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "routePath": {
            "type": "string"
          }
        },
        "additionalProperties": true,
        "example": {
          "name": "Epic Games",
          "description": "Direct Epic Games account validation and enrichment endpoints.",
          "image": "/images/tools/epic-games.svg",
          "routePath": "/epic-games"
        }
      },
      "ResponseMeta": {
        "type": "object",
        "required": [
          "timestamp"
        ],
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "savedResult": {
            "$ref": "#/components/schemas/SavedToolResult"
          }
        },
        "additionalProperties": true
      },
      "SavedToolResult": {
        "type": "object",
        "required": [
          "id",
          "url"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error",
          "meta"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {}
            },
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        },
        "additionalProperties": false
      },
      "GamingToolResponse": {
        "type": "object",
        "required": [
          "data",
          "meta",
          "operation",
          "query",
          "tool"
        ],
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "operation": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "required": [
              "value",
              "type"
            ],
            "properties": {
              "value": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "normalizedType": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "tool": {
            "type": "string",
            "enum": [
              "epic-games",
              "vehicle-history-finder"
            ]
          }
        },
        "additionalProperties": false
      },
      "VehicleHistoryFinderResponse": {
        "type": "object",
        "required": [
          "data",
          "meta",
          "operation",
          "query",
          "tool"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "vehicle"
            ],
            "properties": {
              "vehicle": {
                "type": "object",
                "required": [
                  "found",
                  "presentation"
                ],
                "properties": {
                  "found": {
                    "type": "boolean"
                  },
                  "presentation": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              },
              "castrol": {
                "type": "object",
                "additionalProperties": true
              },
              "nhtsa": {
                "type": "object",
                "required": [
                  "recalls",
                  "complaints",
                  "safetyRatings"
                ],
                "properties": {
                  "recalls": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "complaints": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "safetyRatings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "operation": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "required": [
              "value",
              "type"
            ],
            "properties": {
              "value": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "save": {
                "type": "boolean"
              }
            },
            "additionalProperties": true
          },
          "tool": {
            "type": "string",
            "enum": [
              "vehicle-history-finder"
            ]
          }
        },
        "additionalProperties": false
      },
      "EpicGamesRequest": {
        "type": "object",
        "required": [
          "value",
          "type"
        ],
        "properties": {
          "value": {
            "type": "string",
            "description": "Epic identifier to enrich.",
            "examples": [
              "some-player",
              "some-player#1234"
            ]
          },
          "type": {
            "type": "string",
            "description": "Canonical type or accepted alias.",
            "enum": [
              "epic_display_name",
              "epic_account_id",
              "creator_code",
              "psn_username",
              "steam_username",
              "xbox_username",
              "psn_account_id",
              "steam_id",
              "nintendo_account_id",
              "epic",
              "epic_id",
              "creator",
              "psn",
              "playstation",
              "steam",
              "steamid",
              "xbox",
              "xbl",
              "xlb",
              "nintendo"
            ],
            "example": "epic_display_name"
          },
          "save": {
            "type": "boolean",
            "description": "Only used on `/all`. When true, saves the synchronous result for later retrieval.",
            "default": false
          }
        },
        "additionalProperties": false
      },
      "VehicleHistoryFinderRequest": {
        "type": "object",
        "required": [
          "value",
          "type"
        ],
        "properties": {
          "value": {
            "type": "string",
            "description": "VIN or French license plate to validate or enrich.",
            "examples": [
              "AB-123-CD",
              "1HGCM82633A004352"
            ]
          },
          "type": {
            "type": "string",
            "description": "Canonical type or accepted alias.",
            "enum": [
              "vin",
              "plate_fr",
              "plate",
              "plaque",
              "plaque_fr",
              "license_plate_fr",
              "french_plate",
              "immatriculation"
            ],
            "example": "plate_fr"
          },
          "save": {
            "type": "boolean",
            "description": "Only used on `/all`. When true, saves the synchronous result for later retrieval.",
            "default": false
          }
        },
        "additionalProperties": false
      }
    }
  }
}
