{
  "openapi": "3.1.0",
  "info": {
    "title": "Osintly Tools API",
    "version": "1.0.0",
    "description": "OpenAPI specification for Osintly Epic Games tools and catalog endpoints.",
    "contact": {
      "name": "Osintly",
      "url": "https://docs.osint.ly/tools-reference/introduction"
    }
  },
  "servers": [
    {
      "url": "https://api.osint.ly",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tools Catalog",
      "description": "Discover available tools, metadata, and route costs."
    },
    {
      "name": "Epic Games",
      "description": "Direct Epic Games account validation and enrichment endpoints."
    }
  ],
  "paths": {
    "/tools": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "List tools",
        "description": "List tools available to the authenticated account.",
        "operationId": "listTools",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "All",
              "maxLength": 80
            }
          },
          {
            "name": "featuredOnly",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string",
                  "enum": [
                    "true",
                    "false",
                    "1",
                    "0"
                  ]
                }
              ],
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 250
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120,
              "default": ""
            }
          },
          {
            "name": "searchType",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "All"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "popular",
                "usage-desc",
                "usage-asc",
                "recent",
                "name-asc",
                "name-desc",
                "rating"
              ],
              "default": "popular"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "preview",
                "full"
              ],
              "default": "full"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tools catalog response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "data": [
                    {
                      "name": "Epic Games",
                      "description": "Validate and enrich Epic account identifiers, linked accounts, tags, regions, creator data, friends, and achievements.",
                      "image": "/images/tools/epic-games.svg",
                      "routePath": "/epic-games",
                      "categories": [
                        "Gaming",
                        "Accounts",
                        "Social"
                      ],
                      "featured": false
                    }
                  ],
                  "meta": {
                    "page": 1,
                    "limit": 250,
                    "total": 6,
                    "timestamp": "2026-06-28T12:00:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          }
        }
      }
    },
    "/tools/{tool}/infos": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "Get tool info",
        "description": "Read public metadata for one tool.",
        "operationId": "getToolInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/ToolPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                },
                "example": {
                  "name": "Epic Games",
                  "description": "Validate and enrich Epic account identifiers, linked accounts, tags, regions, creator data, friends, and achievements.",
                  "image": "/images/tools/epic-games.svg",
                  "routePath": "/epic-games"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tools/{tool}/costs": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "Get tool route costs",
        "description": "Read per-route pricing for one tool.",
        "operationId": "getToolCosts",
        "parameters": [
          {
            "$ref": "#/components/parameters/ToolPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool route cost payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "routes": {
                    "GET /": {
                      "type": "free",
                      "credits": 0
                    },
                    "GET /infos": {
                      "type": "free",
                      "credits": 0
                    },
                    "POST /dns": {
                      "type": "free",
                      "credits": 0
                    },
                    "POST /ssl": {
                      "type": "free",
                      "credits": 0
                    },
                    "POST /all": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /reputation": {
                      "type": "core-search",
                      "credits": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          }
        }
      }
    },
    "/tools/results/{id}": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "Get a saved tool result",
        "description": "Retrieve a payload saved from a synchronous `/tools/<tool>/all` request with `save: true`.",
        "operationId": "getSavedToolResult",
        "parameters": [
          {
            "$ref": "#/components/parameters/SavedToolResultId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SavedToolResultResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tools/epic-games": {
      "get": {
        "tags": [
          "Epic Games"
        ],
        "summary": "List Epic Games routes",
        "operationId": "listEpicGamesRoutes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ToolRouteIndex"
          }
        }
      }
    },
    "/tools/epic-games/search": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Validate Epic Games search input",
        "operationId": "runEpicGamesSearch",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/epic-games/suggestions": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games suggestions",
        "operationId": "runEpicGamesSuggestions",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/epic-games/resolve": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Resolve Epic Games account",
        "operationId": "runEpicGamesResolve",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/linked-accounts": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games linked accounts",
        "operationId": "runEpicGamesLinkedAccounts",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/tags": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games account tags",
        "operationId": "runEpicGamesTags",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/regions": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games region signals",
        "operationId": "runEpicGamesRegions",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/friends-achievements": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games friends and achievements",
        "operationId": "runEpicGamesFriendsAchievements",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/creator": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games creator data",
        "operationId": "runEpicGamesCreator",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/profile-db": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Get Epic Games profile database data",
        "operationId": "runEpicGamesProfileDb",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/epic-games/all": {
      "post": {
        "tags": [
          "Epic Games"
        ],
        "summary": "Run all Epic Games collectors",
        "operationId": "runEpicGamesAll",
        "requestBody": {
          "$ref": "#/components/requestBodies/GamingToolRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    },
    "parameters": {
      "ToolPath": {
        "name": "tool",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "domain-intelligence",
            "ip-intelligence",
            "epic-games",
            "socialclub",
            "xbox",
            "playstation"
          ]
        }
      },
      "SavedToolResultId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "requestBodies": {
      "DomainRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DomainRequest"
            },
            "example": {
              "domain": "example.com"
            }
          }
        }
      },
      "IpRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/IpRequest"
            },
            "example": {
              "ip": "8.8.8.8"
            }
          }
        }
      },
      "GamingToolRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GamingToolRequest"
            },
            "example": {
              "value": "some-player",
              "type": "username"
            }
          }
        }
      },
      "XboxTitleDetailRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/XboxTitleDetailRequest"
            },
            "example": {
              "value": "SomeGamertag",
              "type": "gamertag",
              "titleId": "12345"
            }
          }
        }
      },
      "CriminalIntelligenceRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CriminalIntelligenceRequest"
            }
          }
        }
      }
    },
    "responses": {
      "ToolRouteIndex": {
        "description": "Tool route index",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": true
            },
            "example": {
              "tool": "domain-intelligence",
              "operation": "index",
              "query": {
                "domain": "domain-intelligence"
              },
              "data": {
                "routes": [
                  {
                    "method": "GET",
                    "path": "/tools/domain-intelligence/costs"
                  },
                  {
                    "method": "GET",
                    "path": "/tools/domain-intelligence/infos"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/domain-intelligence/dns"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/domain-intelligence/reputation"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/domain-intelligence/all"
                  }
                ]
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "DomainToolResponse": {
        "description": "Domain tool response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DomainToolResponse"
            },
            "example": {
              "tool": "domain-intelligence",
              "operation": "dns",
              "query": {
                "domain": "example.com"
              },
              "data": {
                "primaryIp": "93.184.216.34",
                "records": {
                  "A": [
                    "93.184.216.34"
                  ],
                  "AAAA": [],
                  "MX": [],
                  "TXT": [
                    "v=spf1 -all"
                  ]
                },
                "dnssec": {
                  "authenticated": false,
                  "dsPresent": false
                },
                "emailAuth": {
                  "spf": "v=spf1 -all",
                  "dmarc": null,
                  "dkim": []
                }
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "IpToolResponse": {
        "description": "IP tool response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/IpToolResponse"
            },
            "example": {
              "tool": "ip-intelligence",
              "operation": "ports",
              "query": {
                "ip": "8.8.8.8"
              },
              "data": {
                "ports": [
                  53,
                  443
                ],
                "tags": [
                  "dns"
                ],
                "hostnames": [
                  "dns.google"
                ],
                "cpes": [],
                "vulns": []
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Invalid request body or parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "VALIDATION_ERROR",
                "message": "Invalid request body",
                "details": [
                  {
                    "path": "domain",
                    "message": "Invalid domain"
                  }
                ]
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Unauthorized",
                "details": "A valid API key is required"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "PlanFeatureRequired": {
        "description": "The authenticated account does not have a paid API subscription with tools access",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "PLAN_FEATURE_REQUIRED",
                "message": "Plan feature required",
                "details": "Tools require a paid API subscription with the tools feature enabled"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "ProviderUnavailable": {
        "description": "Required enrichment source configuration is missing",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "PROVIDER_UNAVAILABLE",
                "message": "Provider unavailable",
                "details": "A required enrichment source is unavailable for this operation"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Tool not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "NOT_FOUND",
                "message": "Tool not found"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "GamingToolResponse": {
        "description": "Gaming tool response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GamingToolResponse"
            },
            "example": {
              "tool": "xbox",
              "operation": "resolve",
              "query": {
                "value": "SomeGamertag",
                "type": "gamertag",
                "normalizedType": "gamertag"
              },
              "data": {},
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "SavedToolResultResponse": {
        "description": "Saved tool result response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta",
                "operation",
                "query",
                "tool"
              ],
              "properties": {
                "data": {
                  "additionalProperties": true
                },
                "meta": {
                  "$ref": "#/components/schemas/ResponseMeta"
                },
                "operation": {
                  "type": "string"
                },
                "query": {
                  "type": "object",
                  "additionalProperties": true
                },
                "tool": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "schemas": {
      "DomainRequest": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Domain to enrich. Schemes and paths are normalized away before validation.",
            "example": "example.com"
          },
          "save": {
            "type": "boolean",
            "description": "Only used on `/all`. When true, saves the synchronous result for later retrieval.",
            "default": false
          }
        },
        "additionalProperties": false
      },
      "IpRequest": {
        "type": "object",
        "required": [
          "ip"
        ],
        "properties": {
          "ip": {
            "type": "string",
            "description": "IPv4 or IPv6 address to enrich.",
            "example": "8.8.8.8"
          },
          "save": {
            "type": "boolean",
            "description": "Only used on `/all`. When true, saves the synchronous result for later retrieval.",
            "default": false
          }
        },
        "additionalProperties": false
      },
      "ToolInfo": {
        "type": "object",
        "required": [
          "description",
          "image",
          "name",
          "routePath"
        ],
        "properties": {
          "description": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "routePath": {
            "type": "string"
          }
        },
        "additionalProperties": true,
        "example": {
          "name": "Domain Intelligence",
          "description": "Investigate domain infrastructure, DNS, SSL, WHOIS, subdomains, exposed emails, ports, and reputation signals.",
          "image": "/images/tools/domain-intelligence.svg",
          "routePath": "/domain-intelligence"
        }
      },
      "DomainToolResponse": {
        "type": "object",
        "required": [
          "data",
          "meta",
          "operation",
          "query",
          "tool"
        ],
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "operation": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "required": [
              "domain"
            ],
            "properties": {
              "domain": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "tool": {
            "type": "string",
            "const": "domain-intelligence"
          }
        },
        "additionalProperties": false,
        "example": {
          "tool": "domain-intelligence",
          "operation": "dns",
          "query": {
            "domain": "example.com"
          },
          "data": {
            "primaryIp": "93.184.216.34",
            "records": {
              "A": [
                "93.184.216.34"
              ],
              "AAAA": [],
              "MX": [],
              "TXT": [
                "v=spf1 -all"
              ]
            },
            "dnssec": {
              "authenticated": false,
              "dsPresent": false
            },
            "emailAuth": {
              "spf": "v=spf1 -all",
              "dmarc": null,
              "dkim": []
            }
          },
          "meta": {
            "timestamp": "2026-06-28T12:00:00.000Z"
          }
        }
      },
      "IpToolResponse": {
        "type": "object",
        "required": [
          "data",
          "meta",
          "operation",
          "query",
          "tool"
        ],
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "operation": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "required": [
              "ip"
            ],
            "properties": {
              "ip": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "tool": {
            "type": "string",
            "const": "ip-intelligence"
          }
        },
        "additionalProperties": false,
        "example": {
          "tool": "ip-intelligence",
          "operation": "ports",
          "query": {
            "ip": "8.8.8.8"
          },
          "data": {
            "ports": [
              53,
              443
            ],
            "tags": [
              "dns"
            ],
            "hostnames": [
              "dns.google"
            ],
            "cpes": [],
            "vulns": []
          },
          "meta": {
            "timestamp": "2026-06-28T12:00:00.000Z"
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "required": [
          "timestamp"
        ],
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "savedResult": {
            "$ref": "#/components/schemas/SavedToolResult"
          }
        },
        "additionalProperties": true
      },
      "SavedToolResult": {
        "type": "object",
        "required": [
          "id",
          "url"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error",
          "meta"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {}
            },
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        },
        "additionalProperties": false,
        "example": {
          "error": {
            "code": "UNAUTHORIZED",
            "message": "Unauthorized",
            "details": "A valid API key is required"
          },
          "meta": {
            "timestamp": "2026-06-28T12:00:00.000Z"
          }
        }
      },
      "GamingToolRequest": {
        "type": "object",
        "required": [
          "value",
          "type"
        ],
        "properties": {
          "value": {
            "type": "string",
            "description": "Account identifier to validate or enrich.",
            "example": "some-player"
          },
          "type": {
            "type": "string",
            "description": "Canonical search type or accepted alias for the selected gaming tool.",
            "example": "username"
          },
          "save": {
            "type": "boolean",
            "description": "Only used on `/all`. When true, saves the synchronous result for later retrieval.",
            "default": false
          }
        },
        "additionalProperties": false
      },
      "XboxTitleDetailRequest": {
        "type": "object",
        "required": [
          "value",
          "type",
          "titleId"
        ],
        "properties": {
          "value": {
            "type": "string",
            "description": "Xbox gamertag or XUID to enrich.",
            "example": "SomeGamertag"
          },
          "type": {
            "type": "string",
            "description": "Canonical Xbox search type or accepted alias.",
            "example": "gamertag"
          },
          "titleId": {
            "type": "string",
            "description": "Numeric Xbox title ID to enrich.",
            "example": "12345"
          },
          "save": {
            "type": "boolean",
            "description": "Only used on `/all`. When true, saves the synchronous result for later retrieval.",
            "default": false
          }
        },
        "additionalProperties": false
      },
      "GamingToolResponse": {
        "type": "object",
        "required": [
          "data",
          "meta",
          "operation",
          "query",
          "tool"
        ],
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "operation": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "required": [
              "value",
              "type"
            ],
            "properties": {
              "value": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "normalizedType": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "tool": {
            "type": "string",
            "enum": [
              "epic-games",
              "socialclub",
              "xbox",
              "playstation",
              "roblox",
              "chess-com",
              "osu",
              "criminal-intelligence"
            ]
          }
        },
        "additionalProperties": false
      },
      "CriminalIntelligenceRequest": {
        "type": "object",
        "required": [
          "value",
          "type"
        ],
        "properties": {
          "value": {
            "type": "string",
            "description": "Person name, organization, or keyword to enrich.",
            "example": "Tayler Anthony Smith"
          },
          "type": {
            "type": "string",
            "description": "Canonical type or accepted alias.",
            "example": "name"
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "default": 20
          },
          "interpolNoticeTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "red",
                "yellow",
                "un"
              ]
            },
            "example": [
              "red"
            ]
          },
          "fdaCategories": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "drug",
                "food",
                "device"
              ]
            },
            "example": [
              "drug",
              "food",
              "device"
            ]
          },
          "save": {
            "type": "boolean",
            "description": "Only used on `/all`. When true, saves the synchronous result for later retrieval.",
            "default": false
          }
        },
        "additionalProperties": false
      }
    }
  }
}
