{
  "openapi": "3.1.0",
  "info": {
    "title": "Osintly Tools API",
    "version": "1.0.0",
    "description": "OpenAPI specification for Osintly Vehicle History Finder tools and catalog endpoints.",
    "contact": {
      "name": "Osintly",
      "url": "https://docs.osint.ly/tools-reference/introduction"
    }
  },
  "servers": [
    {
      "url": "https://api.osint.ly",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tools Catalog",
      "description": "Discover available tools, metadata, and route costs."
    },
    {
      "name": "Vehicle History Finder",
      "description": "Vehicle history enrichment endpoints for US VINs and French license plates."
    }
  ],
  "paths": {
    "/tools": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "List tools",
        "description": "List tools available to the authenticated account.",
        "operationId": "listTools",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "All",
              "maxLength": 80
            }
          },
          {
            "name": "featuredOnly",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string",
                  "enum": [
                    "true",
                    "false",
                    "1",
                    "0"
                  ]
                }
              ],
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 250
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 120,
              "default": ""
            }
          },
          {
            "name": "searchType",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 80,
              "default": "All"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "popular",
                "usage-desc",
                "usage-asc",
                "recent",
                "name-asc",
                "name-desc",
                "rating"
              ],
              "default": "popular"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "preview",
                "full"
              ],
              "default": "full"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tools catalog response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "data": [],
                  "meta": {
                    "page": 1,
                    "limit": 250,
                    "total": 0,
                    "timestamp": "2026-06-28T12:00:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          }
        }
      }
    },
    "/tools/{tool}/infos": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "Get tool info",
        "description": "Read public metadata for one tool.",
        "operationId": "getToolInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/ToolPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInfo"
                },
                "example": {
                  "name": "Vehicle History Finder",
                  "description": "Vehicle history enrichment endpoints for US VINs and French license plates.",
                  "image": "/images/tools/vehicle-history-finder.svg",
                  "routePath": "/vehicle-history-finder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tools/{tool}/costs": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "Get tool route costs",
        "description": "Read per-route pricing for one tool.",
        "operationId": "getToolCosts",
        "parameters": [
          {
            "$ref": "#/components/parameters/ToolPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool route cost payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "routes": {
                    "GET /": {
                      "type": "free",
                      "credits": 0
                    },
                    "GET /infos": {
                      "type": "free",
                      "credits": 0
                    },
                    "POST /dns": {
                      "type": "free",
                      "credits": 0
                    },
                    "POST /ssl": {
                      "type": "free",
                      "credits": 0
                    },
                    "POST /all": {
                      "type": "core-search",
                      "credits": 1
                    },
                    "POST /reputation": {
                      "type": "core-search",
                      "credits": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          }
        }
      }
    },
    "/tools/results/{id}": {
      "get": {
        "tags": [
          "Tools Catalog"
        ],
        "summary": "Get a saved tool result",
        "description": "Retrieve a payload saved from a synchronous `/tools/<tool>/all` request with `save: true`.",
        "operationId": "getSavedToolResult",
        "parameters": [
          {
            "$ref": "#/components/parameters/SavedToolResultId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SavedToolResultResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/PlanFeatureRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tools/vehicle-history-finder": {
      "get": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "List Vehicle History Finder routes",
        "operationId": "listVehicleHistoryFinderRoutes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ToolRouteIndex"
          }
        }
      }
    },
    "/tools/vehicle-history-finder/search": {
      "post": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "Validate Vehicle History Finder input",
        "operationId": "runVehicleHistoryFinderSearch",
        "requestBody": {
          "$ref": "#/components/requestBodies/VehicleHistoryFinderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/tools/vehicle-history-finder/vin": {
      "post": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "Run Vehicle History Finder VIN collector",
        "operationId": "runVehicleHistoryFinderVin",
        "requestBody": {
          "$ref": "#/components/requestBodies/VehicleHistoryFinderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/vehicle-history-finder/plate-fr": {
      "post": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "Run Vehicle History Finder French plate collector",
        "operationId": "runVehicleHistoryFinderPlateFr",
        "requestBody": {
          "$ref": "#/components/requestBodies/VehicleHistoryFinderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/tools/vehicle-history-finder/all": {
      "post": {
        "tags": [
          "Vehicle History Finder"
        ],
        "summary": "Run Vehicle History Finder collector by input type",
        "operationId": "runVehicleHistoryFinderAll",
        "requestBody": {
          "$ref": "#/components/requestBodies/VehicleHistoryFinderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GamingToolResponse"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    },
    "parameters": {
      "ToolPath": {
        "name": "tool",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "vehicle-history-finder"
          ]
        }
      },
      "SavedToolResultId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "requestBodies": {
      "VehicleHistoryFinderRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VehicleHistoryFinderRequest"
            },
            "examples": {
              "plateFr": {
                "summary": "French license plate",
                "value": {
                  "value": "AB-123-CD",
                  "type": "plate_fr"
                }
              },
              "vin": {
                "summary": "US VIN",
                "value": {
                  "value": "1HGCM82633A004352",
                  "type": "vin"
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "ToolRouteIndex": {
        "description": "Tool route index",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": true
            },
            "example": {
              "tool": "vehicle-history-finder",
              "operation": "index",
              "query": {
                "tool": "vehicle-history-finder"
              },
              "data": {
                "routes": [
                  {
                    "method": "GET",
                    "path": "/tools/vehicle-history-finder"
                  },
                  {
                    "method": "GET",
                    "path": "/tools/vehicle-history-finder/costs"
                  },
                  {
                    "method": "GET",
                    "path": "/tools/vehicle-history-finder/infos"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/vehicle-history-finder/search"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/vehicle-history-finder/vin"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/vehicle-history-finder/plate-fr"
                  },
                  {
                    "method": "POST",
                    "path": "/tools/vehicle-history-finder/all"
                  }
                ]
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Invalid request body or parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "VALIDATION_ERROR",
                "message": "Invalid request body",
                "details": [
                  {
                    "path": "domain",
                    "message": "Invalid domain"
                  }
                ]
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Unauthorized",
                "details": "A valid API key is required"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "PlanFeatureRequired": {
        "description": "The authenticated account does not have a paid API subscription with tools access",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "PLAN_FEATURE_REQUIRED",
                "message": "Plan feature required",
                "details": "Tools require a paid API subscription with the tools feature enabled"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "ProviderUnavailable": {
        "description": "Required enrichment source configuration is missing",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "PROVIDER_UNAVAILABLE",
                "message": "Provider unavailable",
                "details": "A required enrichment source is unavailable for this operation"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Tool not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "NOT_FOUND",
                "message": "Tool not found"
              },
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "GamingToolResponse": {
        "description": "Gaming tool response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GamingToolResponse"
            },
            "example": {
              "tool": "vehicle-history-finder",
              "operation": "search",
              "query": {
                "value": "AB-123-CD",
                "type": "plate_fr"
              },
              "data": {},
              "meta": {
                "timestamp": "2026-06-28T12:00:00.000Z"
              }
            }
          }
        }
      },
      "SavedToolResultResponse": {
        "description": "Saved tool result response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta",
                "operation",
                "query",
                "tool"
              ],
              "properties": {
                "data": {
                  "additionalProperties": true
                },
                "meta": {
                  "$ref": "#/components/schemas/ResponseMeta"
                },
                "operation": {
                  "type": "string"
                },
                "query": {
                  "type": "object",
                  "additionalProperties": true
                },
                "tool": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "schemas": {
      "ToolInfo": {
        "type": "object",
        "required": [
          "description",
          "image",
          "name",
          "routePath"
        ],
        "properties": {
          "description": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "routePath": {
            "type": "string"
          }
        },
        "additionalProperties": true,
        "example": {
          "name": "Vehicle History Finder",
          "description": "Vehicle history enrichment endpoints for US VINs and French license plates.",
          "image": "/images/tools/vehicle-history-finder.svg",
          "routePath": "/vehicle-history-finder"
        }
      },
      "ResponseMeta": {
        "type": "object",
        "required": [
          "timestamp"
        ],
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "savedResult": {
            "$ref": "#/components/schemas/SavedToolResult"
          }
        },
        "additionalProperties": true
      },
      "SavedToolResult": {
        "type": "object",
        "required": [
          "id",
          "url"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error",
          "meta"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {}
            },
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        },
        "additionalProperties": false,
        "example": {
          "error": {
            "code": "UNAUTHORIZED",
            "message": "Unauthorized",
            "details": "A valid API key is required"
          },
          "meta": {
            "timestamp": "2026-06-28T12:00:00.000Z"
          }
        }
      },
      "GamingToolResponse": {
        "type": "object",
        "required": [
          "data",
          "meta",
          "operation",
          "query",
          "tool"
        ],
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "operation": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "required": [
              "value",
              "type"
            ],
            "properties": {
              "value": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "normalizedType": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "tool": {
            "type": "string",
            "enum": [
              "vehicle-history-finder"
            ]
          }
        },
        "additionalProperties": false
      },
      "VehicleHistoryFinderRequest": {
        "type": "object",
        "required": [
          "value",
          "type"
        ],
        "properties": {
          "value": {
            "type": "string",
            "description": "VIN or French license plate to validate or enrich.",
            "examples": [
              "AB-123-CD",
              "1HGCM82633A004352"
            ]
          },
          "type": {
            "type": "string",
            "description": "Canonical type or accepted alias.",
            "enum": [
              "vin",
              "plate_fr",
              "plate",
              "plaque",
              "plaque_fr",
              "license_plate_fr",
              "french_plate",
              "immatriculation"
            ],
            "example": "plate_fr"
          },
          "save": {
            "type": "boolean",
            "description": "Only used on `/all`. When true, saves the synchronous result for later retrieval.",
            "default": false
          }
        },
        "additionalProperties": false
      }
    }
  }
}
